.custom-toolbar {
	display: flex;
	justify-content: center;
	background: var(--background-color);
	background-color: rgba(141, 141, 141, 0.736);
	box-shadow: var(--button-shadow);
	padding: 10px 20px;
}
