:root {
	--background-color: #f0f0f3;
	--text-color: #333333;
	--button-background-color: #cccccc;
	--button-text-color: #333333;
	--button-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5),
		inset -2px -2px 5px rgba(0, 0, 0, 0.1);
}
