.theme-selector {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	margin: 1.5vh 3vw;
	align-items: center;
	z-index: 9999;

	label {
		margin-right: 10px;
	}

	select {
		padding: 5px;
		border-radius: 5px;
		border: 1px solid var(--text-color);
		background: var(--button-background-color);
		color: var(--button-text-color);
	}
}

.theme-selector label {
	color: var(--theme-selector-text);
}
