.toolbar-container {
	display: flex;
	justify-content: space-between;
	background: var(--toolbar-background);
	padding: 10px;
	backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: var(--toolbar-shadow);
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1001;
}

.toolbar-button {
	padding: 10px;
	margin: 0 5px;
	background: var(--button-background-color);
	color: var(--button-text-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: box-shadow 0.3s ease, outline 0.3s ease;

	&:hover {
		box-shadow: 0 0 10px var(--button-background-color);
		outline: 1px solid rgba(255, 255, 255, 0.5);
	}
}

.color-picker {
	margin: 0 5px;
	padding: 1.3rem auto;
}

.brush-size {
	height: 1.6rem;
	margin: 0 5px;
}

.canvas-size-selector {
	padding: 5px;
	margin: 0 5px;
	border-radius: 5px;
}
