.user-list {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 10px;
	left: 10px;
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1001;
	max-height: 90vh;
	overflow-y: auto;
}

.user-item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.user-item img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}
