.user-list {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 10px;
	left: 10px;
	color: var(--user-list-text-color);
	background: var(--user-list-background-color);
	padding: 10px;
	backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: var(--button-shadow);
	z-index: 1001;
	max-height: 90vh;
	overflow-y: auto;
}

.user-item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.user-item img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}
