.user-toolbar-container {
	display: flex;
	justify-content: space-between;
	background: #e0e0e0;
	border-radius: 12px;
	box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.2),
		-9px -9px 16px rgba(255, 255, 255, 0.5);
	padding: 10px 20px;
}

.neumorphic-button {
	border: none;
	border-radius: 12px;
	background: var(--button-background-color);
	box-shadow: var(--button-shadow);
	color: var(--button-text-color);
	padding: 10px 20px;
	transition: 0.3s;
	&:hover {
		box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1),
			inset -4px -4px 8px rgba(255, 255, 255, 0.7);
	}
}

.color-picker {
	margin: 10px 0;
}

.brush-size {
	margin: 10px 0;
}
