.whiteboard-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background: var(--backdrop-color);
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

.canvas-container {
	position: relative;
	border-radius: 10px;
	background-color: rgb(255, 245, 235);
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	border: 1rem solid var(--canvas-border-color);
	width: 100%;
	max-width: 1280px;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: auto;
}

.logout-button {
	margin-top: 20px;
	padding: 10px 20px;
	background: #f44336;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s ease;

	&:hover {
		background: #d32f2f;
	}
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 600px) {
	.canvas-container {
		padding: 10px;
		border-width: 0.5rem;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
	.canvas-container {
		padding: 10px;
		border-width: 0.5rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.canvas-container {
		padding: 10px;
		border-width: 0.5rem;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.canvas-container {
		padding: 10px;
		border-width: 0.5rem;
	}
}
