.whiteboard-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: var(--backdrop-color);
	position: relative;
}

.canvas-container {
	position: relative;
	margin: 2vh;
	border-radius: 2.5rem;
	background-color: rgb(255 245 235);
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	border: 1rem solid var(--canvas-border-color);
}

.logout-button {
	margin-top: 3rem;
	padding: 10px 20px;
	background: #f44336;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s ease;

	&:hover {
		background: #d32f2f;
	}
}
